/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('./assets/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: contain; */
  position: relative;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}


.mainContainer {

  width: 343px;
  height: 627px;

}

.bgContainer {

  position: absolute;
  widtH: 100%;
  left: 0;
  height: 38%;
  top: 0;
  background-image: url('./assets/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;


}


.topContainer {

  height: 251px;
  position: relative;
}

.formContainer {

  height: 328px;
  margin-top: 48px;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #21092F;


}

.thankYouMessage {

  width: 343px;
  height: 291px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.thankYouMessage span {

  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3.42222px;
  color: #21092F;
  text-transform: uppercase;
}

.thankYouMessage p {

  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #8F8694;
}


@media screen and (min-width: 1440px) {

  .bgContainer {

    position: absolute;
    widtH: 36%;
    left: 0;
    height: 100%;
    top: 0;
    background-image: url('./assets/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;


  }


  .mainContainer {


    display: flex;
    width: 100%;
    gap: 127px;
    height: 527px;
    align-items: center;

  }

  .topContainer {

    width: 541px;
    height: 527px;
  }


  .formContainer {

    width: 381px;
    height: 352px;
    margin: 0;
    margin-bottom: 28px;

  }


  .thankYouMessage {

    width: 381px;
    margin-top: 0;
  }

  .complete {
    animation-duration: 2s;
        animation-iteration-count: 1;
    animation-name: bounce;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

}

@keyframes bounce {

        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
  
}
  
}